.main-slider {
  width: 125vw;
  display: flex;
  overflow: scroll;
  transform: translateX(-15vw);
  background-color: black;
}
.main-slider::-webkit-scrollbar {
  display: none;
}
.main-slider > div {
  margin-left: 2em;
  margin-right: 2em;
}
.main-slider img {
  width: 600px;
}
.inner-main-container {
  text-align: center;
}
.inner-main-container > img {
  z-index: -1;
}
.lower-slider {
  width: 30vw;
  z-index: 2;
  border-radius: 2em;
  background-color: #fff;
  transform: translateY(-3em);
  margin: auto;
}
